//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

$mw: 1145px;
$orange: #fab702;

body {
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: $mw;
    margin: 0px auto;
    padding: 0 10px;
}

.icon {
    outline: none;
    position: relative;
    width: 100%;
    height: 100%;
    i {
        color: white;
        vertical-align: middle;
    }
    i:hover {
        color: $orange;
    }
}

.header {
    margin: 20px 0px 35px 0px;
    //padding: 0px 10px;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            margin-top: 20px;
            .menu__btn {
                display: none;
            }
            .menu__list {
                display: flex;
                justify-content: space-between;
                .menu__item {
                    cursor: pointer;
                    position: relative;
                    .menu__list-link {
                        padding: 10px 15px;
                        font-size: 20px;
                        font-family: "Roboto", sans-serif;
                        color: #3b404f;
                        line-height: 1.2;
                    }
                    .icon {
                        font-size: 20px;
                        i {
                            color: #3b404f;
                        }
                        i:hover {
                            color: $orange;
                        }
                    }
                }
                .menu__item:hover {
                    .menu__list-link {
                        color: $orange;
                    }
                }
                .search__form {
                    display: none;
                    border: 4px solid $orange;
                    position: absolute;
                    margin-top: 14px;
                    right: 0;
                    z-index: 1;
                    background-color: #f8f8f8;
                    .search {
                        width: 250px;
                        height: 40px;
                        font-size: 20px;
                        background-color: #f8f8f8;
                    }
                }
                .search__form--active {
                    display: block;
                }
            }
        }
    }
    @media screen and (max-width: 700px) {
        .header__inner {
            .menu {
                z-index: 1;
                .menu__list {
                    display: block;
                    position: absolute;
                    top: 100px;
                    left: 0;
                    background-color: $orange;
                    right: 0px;
                    text-align: center;
                    padding: 20px 0;
                    transform: translateY(-500px);
                    transition: all 0.5s;
                    .menu__item:hover {
                        .menu__list-link {
                            color: white;
                        }
                    }
                    .icon {
                        display: none;
                    }
                }
                .menu__list.menu__list--active {
                    transform: translateY(0);
                }
                .menu__list-link {
                    padding: 20px 0;
                    display: block;
                }
                .menu__btn {
                    display: block;
                    cursor: pointer;
                    width: 35px;
                    height: 24px;
                    border-bottom: 2px solid $orange;
                    border-top: 2px solid $orange;
                    background-color: transparent;
                    position: relative;
                }
                .menu__btn::before {
                    content: "";
                    position: absolute;
                    background-color: $orange;
                    width: 35px;
                    height: 2px;
                    left: 0;
                    top: 9px;
                }
            }
        }
    }
}
.top {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    .top__slider {
        .top__slider-item {
            position: relative;
            //height: 700px;
            padding: 0 0 12% 0;
            .top__slider-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            .top__slider-title {
                position: absolute;
                top: 28%;
                width: 40%;
                font-size: 64px;
                font-family: "Montserrat", sans-serif;
                color: white;
                text-transform: uppercase;
                line-height: 1.25;
                text-align: left;
            }
            .top__slider-text {
                position: absolute;
                top: 50%;
                width: 40%;
                font-size: 20px;
                font-family: "Roboto", sans-serif;
                color: white;
                line-height: 1.714;
                text-align: left;
                padding-top: 30px;
            }
            .top__btn-link {
                display: block;
                position: absolute;
                // top: 75%;
                bottom: 10%;
                color: white;
                background-color: $orange;
                padding: 20px 50px;
                font-size: 20px;
            }
        }
    }

    @media screen and(max-width: 1600px) {
        .top__slider {
            .top__slider-item {
                .top__slider-title {
                    top: 20%;
                    width: 70%;
                    font-size: 50px;
                }
                .top__slider-text {
                    top: 45%;
                    width: 75%;
                }
            }
        }
    }
    @media screen and(max-width: 1100px) {
        .top__slider {
            .top__slider-item {
                .top__slider-title {
                    top: 10%;
                    width: 80%;
                }
                .top__slider-text {
                    top: 40%;
                    width: 80%;
                }
                .top__btn-link {
                    right: 5%;
                }
            }
        }
    }
    @media screen and(max-width: 930px) {
        .top__slider {
            .top__slider-item {
                .top__slider-title {
                    font-size: 40px;
                }
                .top__slider-text {
                    font-size: 18px;
                }
                .top__btn-link {
                    padding: 10px 30px 10px 30px;
                }
            }
        }
    }
    @media screen and(max-width: 800px) {
        .top__slider {
            .top__slider-item {
                .top__slider-title {
                    top: 30%;
                }
                .top__slider-text {
                    display: none;
                }
            }
        }
    }
    @media screen and(max-width: 700px) {
        .top__slider {
            .top__slider-item {
                .top__slider-title {
                    font-size: 30px;
                }
                .top__slider-text {
                    display: none;
                }
            }
        }
    }
    @media screen and(max-width: 500px) {
        .top__slider {
            .top__slider-item {
                .top__slider-title {
                    position: relative;
                    padding: 20px 0 0 20px;
                }
            }
        }
    }
}

.contact {
    background-color: $orange;
    max-width: 1920px;
    margin: 0 auto;
    .contact__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px 40px 0px;
        .contact__text {
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.8;
            span {
                font-style: italic;
                color: black;
                text-decoration: underline;
            }
        }
        .contact__span {
            display: none;
            font-size: 20px;
            line-height: 1.8;
            font-style: italic;
            color: black;
            text-decoration: underline;
        }
        .contacts__btn-link {
            padding: 20px 40px;
            background-color: white;
            font-size: 20px;
            color: $orange;
        }
    }
    @media screen and(max-width: 1100px) {
        .contact__inner {
            .contact__text {
                font-size: 25px;
            }
            .contacts__btn-link {
                font-size: 16px;
            }
        }
    }
    @media screen and(max-width: 930px) {
        .contact__inner {
            .contact__text {
                font-size: 20px;
            }
            .contacts__btn-link {
                padding: 15px 20px;
                font-size: 14px;
            }
        }
    }
    @media screen and(max-width: 700px) {
        .contact__inner {
            .contact__text {
                display: none;
            }
            .contact__span {
                display: block;
            }
        }
    }
}

.features {
    margin-top: 185px;
    .features__content {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 120px;
        max-width: 640px;
        .features__title {
            font-size: 44px;
            font-family: "Montserrat", sans-serif;
            color: #3b404f;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.227;
            padding-bottom: 40px;
        }
        .features__text {
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: #6d73a0;
            line-height: 1.714;
        }
    }
    .features__courses {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .features__courses-item {
            cursor: pointer;
            max-width: 360px;
            margin: 0 auto 10px;

            .features__courses-image {
                display: block;
                background-color: $orange;
                object-fit: cover;
                width: 100%;
                height: 240px;
                margin: 0px auto;
                transition: all 0.5s;
            }
            .features__courses-content {
                padding-top: 35px;
                .features__courses-title {
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    color: #3b404f;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.364;
                    text-align-last: left;
                    transition: all 0.5s;
                }
                .features__courses-text {
                    padding-top: 35px;
                    font-size: 20px;
                    font-family: "Roboto", sans-serif;
                    color: #6d73a0;
                    line-height: 1.714;
                    text-align: left;
                }
                .features__courses-link {
                    display: inline-block;
                    margin-top: 30px;
                    color: #6d73a0;
                    transition: all 0.5s;
                    padding-bottom: 5px;
                    border-bottom: 1px solid transparent;
                }
            }
        }
        .features__courses-item:hover {
            .features__courses-image {
                width: 97%;
                height: 220px;
                margin: 10px auto;
            }
            .features__courses-content {
                .features__courses-title {
                    color: $orange;
                }
                .features__courses-link {
                    color: $orange;
                    border-bottom: 1px solid $orange;
                }
            }
        }
    }
}

.testimonial {
    display: flex;
    max-width: 1920px;
    margin: 130px auto 0px;
    .testimonial__video {
        background-color: $orange;
        width: 50%;
        position: relative;
        padding: 0 0 12% 0;
        .testimonial__video-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    .testimonial__content {
        width: 50%;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 140px 0px 140px 55px;
        .testimonial__content-item {
            padding: 30px 0px;
            display: flex;
            .testimonial__content-text {
                padding-left: 40px;
                max-width: 45%;
                text-align: left;
                .testimonial__content-title {
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    color: rgb(59, 64, 79);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.364;
                    padding-bottom: 25px;
                }
                .testimonial__content-par {
                    font-size: 20px;
                    font-family: "Roboto", sans-serif;
                    color: rgb(109, 115, 150);
                    line-height: 1.714;
                    // text-align: left;
                    //margin-top: 30px;
                }
            }
        }
    }
    @media screen and(max-width: 1500px) {
        .testimonial__content {
            .testimonial__content-item {
                .testimonial__content-text {
                    max-width: 100%;
                }
            }
        }
    }
    @media screen and(max-width: 850px) {
        .testimonial__video {
            display: none;
        }
        .testimonial__content {
            padding: 50px 55px;
            width: 100%;
        }
    }
    @media screen and(max-width: 500px) {
        .testimonial__content {
            padding: 50px 0px;
        }
    }
    @media screen and(max-width: 400px) {
        .testimonial__content {
            .testimonial__content-item {
                flex-direction: column;
                align-items: center;
                .testimonial__content-logo {
                    // display: block;
                    // width: 65px;
                    // height: 65px;
                    margin-bottom: 10px;
                }
                .testimonial__content-text {
                    padding-left: 0;
                    text-align: center;
                }
            }
        }
    }
}

.portfolio {
    margin-top: 130px;
    .portfolio__content {
        margin-bottom: 95px;
        .portfolio__title {
            padding-bottom: 40px;
            font-size: 44px;
            font-family: "Montserrat", sans-serif;
            color: rgb(59, 64, 79);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.227;
            text-align: center;
        }
        .portfolio__text {
            display: block;
            margin: 0 auto;
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: rgb(109, 115, 150);
            line-height: 1.714;
            text-align: center;
            max-width: 640px;
        }
    }
    .tabs {
        // margin: 0 auto;
        .tabs__menu {
            cursor: pointer;
            text-decoration: none;
            color: black;
            margin: 20px;
            font-size: 24px;
            display: none;
            &::after {
                content: "";
                border-bottom: 2px solid $orange;
                border-left: 2px solid $orange;
                //border-width: 0px 1px 1px 0px;
                display: inline-block;
                padding: 3px;
                margin-left: 10px;
                margin-bottom: 3px;
                transform: rotate(-45deg);
            }
        }

        .tabs__items {
            display: flex;
            justify-content: center;
            .tabs__item {
                &:hover {
                    color: $orange;
                }
                cursor: pointer;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                text-decoration: none;
                color: black;
                margin: 20px;
                font-size: 24px;
            }
        }
        #tabs_container {
            //margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            max-width: 1920px;
            margin: 60px auto 0;
            .tabs__block {
                // margin: 0px auto;
                width: calc((100% / 3) - 4px);
                transition: all 0.5s;
                // height: 390px;
                margin: 2px 2px;
                .tabs__works-item {
                    //background-color: $orange;
                    // width: 638px;
                    // height: 390px;
                    position: relative;
                    padding: 0 0 58% 0;
                    overflow: hidden;
                    margin: 0 auto;
                    // margin: 1px auto;
                    .tabs__works-img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        top: 0;
                        left: 0;
                        margin: 0px 0px;
                        z-index: -1;
                        transition: all 0.5s;
                    }
                    .tabs__works-title {
                        // margin-top: -110px;
                        position: absolute;
                        bottom: 0;
                        height: 110px;
                        width: 100%;
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        background-color: rgba(255, 255, 255, 0.8);
                        opacity: 0;
                        transition: all 0.5s;
                        .tabs__works-head {
                            // width: 60px;
                            font-size: 22px;
                            padding-bottom: 20px;
                            margin-left: 40px;
                            position: relative;
                        }
                        .tabs__works-head::before {
                            content: "";
                            position: absolute;
                            width: 60px;
                            padding-top: 45px;
                            border-bottom: 2px solid #6d7396;
                        }
                        .tabs__works-icons {
                            margin-right: 10px;

                            .icon {
                                padding: 14px 17px;
                                background-color: $orange;
                                // margin-left: 10px;
                                i {
                                    color: white;
                                }
                            }
                            .icon:first-child {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .tabs__block:hover {
                .tabs__works-item {
                    .tabs__works-title {
                        opacity: 1;
                    }
                    .tabs__works-img {
                        padding: 2px;
                    }
                }
            }
        }

        .tabs__body-All {
            .tabs__block {
                display: block;
            }
        }
        .tabs__body-Healthcare {
            .tabs__block {
                &.Healthcare {
                    display: block;
                }
                display: none;
            }
        }
        .tabs__body-Green {
            .tabs__block {
                &.Green {
                    display: block;
                }
                display: none;
            }
        }
        .tabs__body-Interior {
            .tabs__block {
                &.Interior {
                    display: block;
                }
                display: none;
            }
        }
        .tabs__body-Office {
            .tabs__block {
                &.Office {
                    display: block;
                }
                display: none;
            }
        }
    }
    @media screen and(max-width: 1400px) {
        .tabs {
            #tabs_container {
                .tabs__block {
                    .tabs__works-item {
                        .tabs__works-title {
                            .tabs__works-head {
                                // font-size: 20px;
                                max-width: 50%;
                            }
                            .tabs__works-head::before {
                                padding-top: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and(max-width: 1100px) {
        .tabs {
            .tabs__menu {
                display: inline-block;
            }
            .tabs__items {
                display: none;
                flex-direction: column;
                align-items: start;
                .tabs__item {
                    margin: 10px 20px;
                }
            }
            .tabs__items.tabs__items--active {
                display: flex;
            }
            #tabs_container {
                margin: 0 auto;
                .tabs__block {
                    width: 100%;
                    margin: 1px auto;
                    .tabs__works-item:hover {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.feedback {
    max-width: 1920px;
    margin: 125px auto 0;
    .feedback__content {
        .feedback__title {
            font-size: 44px;
            font-family: "Montserrat", sans-serif;
            color: rgb(59, 64, 79);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.227;
            text-align: center;
        }
        .feedback__text {
            margin: 35px auto 120px;
            max-width: 640px;
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: rgb(109, 115, 150);
            line-height: 1.714;
            text-align: center;
        }
    }
    .feedback__slider {
        .feedback__slider-item {
            display: flex;
            max-width: calc(100% / 2);
            height: 220px;
            margin: 0 15px;
            .feedback__slider-images {
                width: 20%;
                height: 100%;
                // max-width: 135px;
                // max-height: 170px;
                object-fit: cover;
            }
            .feedback__slider-text {
                background-color: #f8f8f8;
                padding: 35px 30px 40px 20px;
                font-size: 20px;
                font-family: "Roboto", sans-serif;
                color: rgb(109, 115, 150);
                line-height: 1.714;
                span {
                    padding-top: 15px;
                    display: block;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    color: rgb(59, 64, 79);
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: left;
                    font-weight: bold;
                }
            }
        }

        .slick-dots {
            list-style: none;
            text-align: center;
            transform: rotate(-0.25turn);
        }

        .slick-dots button {
            font-size: 0;
            width: 9px;
            height: 9px;
            background-color: #f1f1f1;
            border: none;
            border-radius: 50%;
            padding: 0;
            margin: 0 auto;
        }

        .slick-active button {
            background-color: $orange;
        }
    }
    .feedback__logo {
        margin: 75px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        @media screen and(max-width: 600px) {
            margin: 10px auto;
        }
    }
    @media screen and(max-width: 600px) {
        .feedback__slider {
            .feedback__slider-item {
                .feedback__slider-text {
                    // margin: auto auto;
                    padding: 35px 10px;
                    font-size: 16px;
                }
            }
        }
    }
    @media screen and(max-width: 500px) {
        .feedback__slider {
            .feedback__slider-item {
                .feedback__slider-text {
                    font-size: 13px;
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.counter {
    padding: 70px 60px 40px;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    .counter__back {
        // padding: 0 0 10% 0;
        // height: 220px;
        overflow: hidden;
        // position: absolute;
        .counter__img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    .container {
        // position: absolute;

        .counter__items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;

            .counter__item {
                margin: 0 auto;
                width: 210px;
                font-size: 20px;
                font-family: "Roboto", sans-serif;
                color: white;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }
            span {
                line-height: 1.8;
                font-family: "Roboto", sans-serif;
                font-size: 50px;
                font-weight: 500;
            }
        }
    }
}

.information {
    padding: 100px 0px;
    background-color: #f8f8f8;
    max-width: 1920px;
    margin: 0 auto;
    .information__block {
        background-color: white;
        margin: 0 auto;
        padding: 40px;
        border-top: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        // border-left: 4px solid $orange;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .information__title {
            font-size: 22px;
            font-family: "Montserrat", sans-serif;
            color: rgb(59, 64, 79);
            line-height: 1.2;
            text-align: left;
            margin-right: 10px;
            margin-bottom: 10px;
            span {
                color: #6d7396;
                font-size: 15px;
            }
        }
        .information__link {
            padding: 15px 0px;
            background-color: $orange;
            color: white;
            font-size: 16px;
            width: 140px;
            text-align: center;
        }
    }
    .information__block::before {
        content: "";
        border-right: 4px solid $orange;
        position: absolute;
        margin-left: -44px;
        height: 100%;
    }
    @media screen and(max-width: 800px) {
        .information__block {
            flex-wrap: wrap;
        }
    }
}
.news {
    padding-bottom: 130px;
    .news__content {
        margin: 0 auto;
        text-align: center;
        padding: 185px 0px 120px;
        max-width: 640px;
        .news__title {
            font-size: 44px;
            font-family: "Montserrat", sans-serif;
            color: #3b404f;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.227;
            padding-bottom: 40px;
        }
        .news__text {
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: #6d73a0;
            line-height: 1.714;
        }
    }
    .news__courses {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .news__courses-item {
            max-width: 360px;
            margin: 20px auto;
            .news__courses-image {
                //display: block;
                background-color: $orange;
                width: 100%;
                height: 240px;
                margin: 0px auto;
                object-fit: cover;
                transition: all 0.5s;
            }
            .news__courses-content {
                padding-top: 35px;
                .news__courses-title {
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    color: #3b404f;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.364;
                    text-align-last: left;
                    transition: all 0.5s;
                }
                .news__courses-text {
                    padding-top: 35px;
                    font-size: 20px;
                    font-family: "Roboto", sans-serif;
                    color: #6d73a0;
                    line-height: 1.714;
                    text-align: left;
                }
                .news__courses-link {
                    display: inline-block;
                    margin-top: 30px;
                    font-size: 20px;
                    color: #6d73a0;
                    transition: all 0.5s;
                    padding-bottom: 5px;
                    border-bottom: 1px solid transparent;
                }
                .news__courses-link:hover {
                    display: inline-block;
                    margin-top: 30px;
                    color: $orange;
                    transition: all 0.5s;
                    padding-bottom: 5px;
                    border-bottom: 1px solid $orange;
                }
            }
        }
    }
}

.footer {
    background-color: #252c3a;
    padding: 80px 0;
    .footer__items {
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .footer__title {
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: left;
            margin-bottom: 35px;
        }
        .footer__list {
            .footer__list-item {
                width: 275px;
                padding-bottom: 15px;
                padding-top: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                .footer__list-link {
                    color: white;
                    font-size: 14px;
                    font-family: "Roboto", sans-serif;
                    //line-height: 1.8;
                }
            }
            .footer__list-item:hover {
                .icon {
                    i {
                        color: $orange;
                    }
                }
                .footer__list-link {
                    color: $orange;
                }
            }
            .footer__list-item:first-child {
                padding-top: 0px;
            }
            .footer__list-item:last-child {
                border-bottom: none;
            }
        }
        .footer__news {
            .footer__news-block {
                width: 275px;
                display: flex;
                padding-bottom: 15px;
                margin-top: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                .footer__news-img {
                    width: 65px;
                    height: 65px;
                    object-fit: cover;
                }
                .footer__news-text {
                    color: white;
                    font-size: 14px;
                    font-family: "Roboto", sans-serif;
                    line-height: 1.538;
                    text-align: left;
                    padding-left: 15px;
                    span {
                        display: block;
                        margin-top: 7px;
                    }
                }
            }
            .footer__news-block:last-child {
                border-bottom: none;
            }
        }
        .footer__info {
            line-height: 1.8;
            .icon {
                font-size: 15px;
            }
            .footer__icons {
                margin-top: 15px;
                margin-bottom: 10px;
                .icon {
                    font-size: 22px;
                    margin: 5px;
                    color: white;
                }
            }
        }
        .footer__email {
            width: 275px;
            .footer__form {
                .footer__form-text {
                    font-size: 13px;
                    font-family: "Roboto", sans-serif;
                    color: rgb(250, 250, 250);
                    line-height: 1.692;
                    text-align: left;
                }
                .footer__label {
                    display: flex;
                    align-items: center;
                    margin: 20px 10px 20px 0;

                    .footer__mail {
                        font-size: 12px;
                        font-family: "Roboto", sans-serif;
                        padding: 15px 0px 15px 20px;
                        width: 200px;
                    }
                    .footer__btn {
                        font-size: 12px;
                        font-family: "Roboto", sans-serif;
                        padding: 15px 20px;
                        color: white;
                        background-color: $orange;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
                .footer__form-ps {
                    font-size: 13px;
                    font-family: "Roboto", sans-serif;
                    color: #919191;
                    line-height: 1.692;
                    text-align: left;
                }
            }
        }
    }
    @media screen and(max-width: 1150px) {
        .footer__items {
            flex-direction: column;
            margin-left: 20px;
            .footer__title::after {
                content: "";
                border-bottom: 2px solid $orange;
                border-left: 2px solid $orange;
                //border-width: 0px 1px 1px 0px;
                display: inline-block;
                padding: 3px;
                margin-left: 10px;
                margin-bottom: 3px;
                transform: rotate(-45deg);
            }
            .footer__news {
                .footer__news-block {
                    display: none;
                }
            }
            .footer__news-block.footer__news-block--active {
                display: flex;
            }
            .footer__email {
                width: 100%;
                .footer__form {
                    .footer__form-text {
                        font-size: 17px;
                    }
                    .footer__label {
                        .footer__mail {
                            width: 500px;
                        }
                    }
                }
            }
        }
        .footer__posts {
            .footer__list {
                display: none;
            }
        }
        .footer__info {
            .footer__list {
                display: none;
            }
        }

        .posts__list.posts__list--active {
            display: block;
        }
        .info__list.info__list--active {
            display: block;
        }
    }
}
