//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

$mw: 1145px;
$orange: #fab702;

.container {
    max-width: $mw;
    margin: 0px auto;
}

.icon {
    outline: none;
    position: relative;
    width: 100%;
    height: 100%;
    i {
        color: white;
        vertical-align: middle;
    }
    i:hover {
        color: $orange;
    }
}

.header {
    margin: 20px 0px 35px 0px;
    padding: 0px 10px;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            margin-top: 20px;
            .menu__list {
                display: flex;
                justify-content: space-between;
                .menu__item {
                    cursor: pointer;
                    .menu__list-link {
                        padding: 10px 15px;
                        font-size: 14px;
                        font-family: "Roboto", sans-serif;
                        color: #3b404f;
                        line-height: 1.2;
                    }
                    .icon {
                        i {
                            color: #3b404f;
                        }
                    }
                }
                .menu__item:hover {
                    .menu__list-link {
                        color: $orange;
                    }
                }
            }
        }
    }
}
.top {
    background-color: #a7a9fe;
    max-height: 800px;
    .top__slider {
        .top__slider-item {
            position: relative;
            .top__slider-image {
                width: 100%;
            }
            .top__slider-title {
                position: absolute;
                top: 20%;
                width: 60%;
                font-size: 64px;
                font-family: "Montserrat", sans-serif;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1.25;
                text-align: left;
            }
            .top__slider-text {
                position: absolute;
                top: 40%;
                width: 60%;
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                color: rgb(255, 255, 255);
                line-height: 1.714;
                text-align: left;
            }
            .top__btn-link {
                display: block;
                position: absolute;
                top: 50%;
                color: white;
                background-color: $orange;
                padding: 20px 50px;
            }
        }
    }
}

.contact {
    background-color: $orange;
    .contact__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 40px 0px 40px 0px;
        .contact__text {
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.8;
            span {
                font-style: italic;
                color: black;
                text-decoration: underline;
            }
        }
        .contacts__btn-link {
            padding: 20px 40px;
            background-color: white;
            color: $orange;
        }
    }
}

.features {
    .features__content {
        margin: 0 auto;
        text-align: center;
        padding: 185px 250px 120px;
        .features__title {
            font-size: 44px;
            font-family: "Montserrat", sans-serif;
            color: #3b404f;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.227;
            padding-bottom: 40px;
        }
        .features__text {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #6d73a0;
            line-height: 1.714;
        }
    }
    .features__courses {
        display: flex;
        justify-content: space-between;
        .features__courses-item {
            cursor: pointer;
            max-width: 360px;
            .features__courses-image {
                display: block;
                background-color: $orange;
                width: 100%;
                height: 240px;
                margin: 0px auto;
                transition: all 0.5s;
            }
            .features__courses-content {
                padding-top: 35px;
                .features__courses-title {
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    color: #3b404f;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.364;
                    text-align-last: left;
                    transition: all 0.5s;
                }
                .features__courses-text {
                    padding-top: 35px;
                    font-size: 14px;
                    font-family: "Roboto", sans-serif;
                    color: #6d73a0;
                    line-height: 1.714;
                    text-align: left;
                }
                .features__courses-link {
                    display: inline-block;
                    margin-top: 30px;
                    color: #6d73a0;
                    transition: all 0.5s;
                    padding-bottom: 5px;
                    border-bottom: 1px solid transparent;
                }
            }
        }
        .features__courses-item:hover {
            .features__courses-image {
                width: 97%;
                height: 220px;
                margin: 10px auto;
            }
            .features__courses-content {
                .features__courses-title {
                    color: $orange;
                }
                .features__courses-link {
                    color: $orange;
                    border-bottom: 1px solid $orange;
                }
            }
        }
    }
}

.testimonial {
    display: flex;
    margin-top: 130px;
    max-width: 100%;
    height: 715px;
    .testimonial__video {
        width: 50%;
        background-color: $orange;
    }
    .testimonial__content {
        width: 50%;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 55px;
        .testimonial__content-item {
            padding: 30px 0px;
            display: flex;
            .testimonial__content-text {
                padding-left: 40px;
                max-width: 45%;
                .testimonial__content-title {
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    color: rgb(59, 64, 79);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.364;
                    padding-bottom: 25px;
                }
                .testimonial__content-par {
                    font-size: 14px;
                    font-family: "Roboto", sans-serif;
                    color: rgb(109, 115, 150);
                    line-height: 1.714;
                    text-align: left;
                    //margin-top: 30px;
                }
            }
        }
    }
}

.portfolio {
    margin-top: 130px;
    .portfolio__content {
        margin-bottom: 95px;
        .portfolio__title {
            padding-bottom: 40px;
            font-size: 44px;
            font-family: "Montserrat", sans-serif;
            color: rgb(59, 64, 79);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.227;
            text-align: center;
        }
        .portfolio__text {
            display: block;
            margin: 0 auto;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: rgb(109, 115, 150);
            line-height: 1.714;
            text-align: center;
            max-width: 640px;
        }
    }
    .tabs {
        .tabs__items {
            display: flex;
            justify-content: center;
            .tabs__item {
                &:hover {
                    color: $orange;
                }
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
                margin: 20px;
                font-size: 20px;
            }
        }
        #tabs_container {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            max-width: 1920px;
            margin: 0 auto;
            .tabs__works-item {
                //background-color: $orange;
                width: 638px;
                height: 390px;
                position: relative;
                margin: 1px auto;
                .tabs__works-img {
                    width: 100%;
                    height: 100%;
                    margin: 0px 0px;
                    transition: all 0.5s;
                }
                .tabs__works-title {
                    margin-top: -110px;
                    height: 110px;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    opacity: 0;
                    transition: all 0.5s;
                    .tabs__works-head {
                        // width: 60px;
                        font-size: 22px;
                        padding-bottom: 20px;
                        margin-left: 40px;
                        position: relative;
                    }
                    .tabs__works-head::before {
                        content: "";
                        position: absolute;
                        width: 60px;
                        padding-top: 45px;
                        border-bottom: 2px solid #6d7396;
                    }
                    .tabs__works-icons {
                        margin-right: 10px;
                        .icon {
                            padding: 14px 17px;
                            background-color: $orange;
                            margin-left: 10px;
                            i {
                                color: white;
                            }
                        }
                    }
                }
            }
            .tabs__works-item:hover {
                .tabs__works-title {
                    opacity: 0.8;
                }
                .tabs__works-img {
                    width: 99%;
                    height: 98%;
                    margin: 4px 4px;
                }
            }
            .slick-dots {
                list-style: none;
                text-align: center;
                transform: rotate(-0.25turn);
            }

            .slick-dots button {
                font-size: 0;
                width: 9px;
                height: 9px;
                background-color: #f1f1f1;
                border: none;
                border-radius: 50%;
                padding: 0;
                margin: 0 auto;
            }

            .slick-active button {
                background-color: $orange;
            }
        }

        .tabs__body-All {
            .tabs__block {
                display: block;
            }
        }
        .tabs__body-Healthcare {
            .tabs__block {
                &.Healthcare {
                    display: block;
                }
                display: none;
            }
        }
        .tabs__body-Green {
            .tabs__block {
                &.Green {
                    display: block;
                }
                display: none;
            }
        }
        .tabs__body-Interior {
            .tabs__block {
                &.Interior {
                    display: block;
                }
                display: none;
            }
        }
        .tabs__body-Office {
            .tabs__block {
                &.Office {
                    display: block;
                }
                display: none;
            }
        }
    }
}

.feedback {
    margin-top: 125px;
    .feedback__content {
        .feedback__title {
            font-size: 44px;
            font-family: "Montserrat", sans-serif;
            color: rgb(59, 64, 79);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.227;
            text-align: center;
        }
        .feedback__text {
            margin: 35px auto 120px;
            max-width: 645px;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: rgb(109, 115, 150);
            line-height: 1.714;
            text-align: center;
        }
    }
    .feedback__slider {
        .feedback__slider-item {
            display: flex;
            width: 555px;
            height: 170px;
            margin-left: 30px;
            .feedback__slider-images {
                max-width: 135px;
                max-height: 170px;
            }
            .feedback__slider-text {
                background-color: #f8f8f8;
                padding: 35px 30px 40px 20px;
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                color: rgb(109, 115, 150);
                line-height: 1.714;
                span {
                    padding-top: 25px;
                    display: block;
                    font-size: 11px;
                    font-family: "Montserrat", sans-serif;
                    color: rgb(59, 64, 79);
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: left;
                    font-weight: bold;
                }
            }
        }
        .feedback__slider-item:first-child {
            margin-left: 0;
        }
        .slick-dots {
            list-style: none;
            text-align: center;
            transform: rotate(-0.25turn);
        }

        .slick-dots button {
            font-size: 0;
            width: 9px;
            height: 9px;
            background-color: #f1f1f1;
            border: none;
            border-radius: 50%;
            padding: 0;
            margin: 0 auto;
        }

        .slick-active button {
            background-color: $orange;
        }
    }
    .feedback__logo {
        margin: 75px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.counter {
    background-color: $orange;
    padding: 70px 60px 40px;
    .counter__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        .counter__item {
            font-size: 13px;
            font-family: "Roboto", sans-serif;
            color: rgb(255, 255, 255);
            text-align: center;
            text-transform: uppercase;
        }
        span {
            line-height: 1.8;
            font-family: "Roboto", sans-serif;
            font-size: 50px;
            font-weight: 500;
        }
    }
}

.information {
    padding: 100px 0px;
    background-color: #f8f8f8;
    margin: 0 auto;
    .information__block {
        background-color: white;
        margin: 0 auto;
        padding: 40px;
        border-top: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        // border-left: 4px solid $orange;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .information__title {
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            color: rgb(59, 64, 79);
            line-height: 1.2;
            text-align: left;
            span {
                color: #6d7396;
                font-size: 13px;
            }
        }
        .information__link {
            padding: 15px 30px;
            background-color: $orange;
            color: white;
        }
    }
    .information__block::before {
        content: "";
        border-right: 4px solid $orange;
        position: absolute;
        margin-left: -44px;
        height: 100%;
    }
}
.news {
    padding-bottom: 130px;
    .news__content {
        margin: 0 auto;
        text-align: center;
        padding: 185px 250px 120px;
        .news__title {
            font-size: 44px;
            font-family: "Montserrat", sans-serif;
            color: #3b404f;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.227;
            padding-bottom: 40px;
        }
        .news__text {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #6d73a0;
            line-height: 1.714;
        }
    }
    .news__courses {
        display: flex;
        justify-content: space-between;
        .news__courses-item {
            max-width: 360px;
            .news__courses-image {
                //display: block;
                background-color: $orange;
                width: 100%;
                height: 240px;
                margin: 0px auto;
                transition: all 0.5s;
            }
            .news__courses-content {
                padding-top: 35px;
                .news__courses-title {
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    color: #3b404f;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.364;
                    text-align-last: left;
                    transition: all 0.5s;
                }
                .news__courses-text {
                    padding-top: 35px;
                    font-size: 14px;
                    font-family: "Roboto", sans-serif;
                    color: #6d73a0;
                    line-height: 1.714;
                    text-align: left;
                }
                .news__courses-link {
                    display: inline-block;
                    margin-top: 30px;
                    color: #6d73a0;
                    transition: all 0.5s;
                    padding-bottom: 5px;
                    border-bottom: 1px solid transparent;
                }
                .news__courses-link:hover {
                    display: inline-block;
                    margin-top: 30px;
                    color: $orange;
                    transition: all 0.5s;
                    padding-bottom: 5px;
                    border-bottom: 1px solid $orange;
                }
            }
        }
    }
}

.footer {
    background-color: #252c3a;
    padding: 80px 0 120px;
    .footer__items {
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .footer__title {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: left;
            margin-bottom: 35px;
        }
        .footer__list {
            .footer__list-item {
                width: 275px;
                padding-bottom: 15px;
                padding-top: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                .footer__list-link {
                    color: white;
                    font-size: 13px;
                    font-family: "Roboto", sans-serif;
                    //line-height: 1.8;
                }
            }
            .footer__list-item:hover {
                .icon {
                    i {
                        color: $orange;
                    }
                }
                .footer__list-link {
                    color: $orange;
                }
            }
            .footer__list-item:first-child {
                padding-top: 0px;
            }
            .footer__list-item:last-child {
                border-bottom: none;
            }
        }
        .footer__news {
            .footer__news-block {
                width: 275px;
                display: flex;
                padding-bottom: 15px;
                margin-top: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                .footer__news-img {
                    width: 65px;
                    height: 65px;
                }
                .footer__news-text {
                    color: white;
                    font-size: 13px;
                    font-family: "Roboto", sans-serif;
                    line-height: 1.538;
                    text-align: left;
                    padding-left: 15px;
                    span {
                        display: block;
                        margin-top: 7px;
                    }
                }
            }
            .footer__news-block:last-child {
                border-bottom: none;
            }
        }
        .footer__info {
            line-height: 1.8;
            .icon {
                font-size: 15px;
            }
            .footer__icons {
                margin-top: 15px;
                .icon {
                    font-size: 22px;
                    margin: 5px;
                    color: white;
                }
            }
        }
        .footer__email {
            width: 275px;
            .footer__form {
                .footer__form-text {
                    font-size: 13px;
                    font-family: "Roboto", sans-serif;
                    color: rgb(250, 250, 250);
                    line-height: 1.692;
                    text-align: left;
                }
                .footer__label {
                    display: flex;
                    align-items: center;
                    margin: 20px 0px;

                    .footer__mail {
                        font-size: 12px;
                        font-family: "Roboto", sans-serif;
                        padding: 15px 0px 15px 20px;
                        width: 200px;
                    }
                    .footer__btn {
                        font-size: 12px;
                        font-family: "Roboto", sans-serif;
                        padding: 15px 20px;
                        color: white;
                        background-color: $orange;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
                .footer__form-ps {
                    font-size: 13px;
                    font-family: "Roboto", sans-serif;
                    color: #919191;
                    line-height: 1.692;
                    text-align: left;
                }
            }
        }
    }
}
